//bg colors
$veryDarkBlue: hsl(234, 12%, 34%);
$grayishBlue: hsl(229, 6%, 66%);
$veryLightGray: hsl(0, 0%, 98%);

//border colors
$Red: hsl(0, 78%, 62%);
$Cyan: hsl(180, 62%, 55%);
$Orange: hsl(34, 97%, 64%);
$Blue: hsl(212, 86%, 64%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background: $veryLightGray;
    font-family: 'Poppins', sans-serif;
  }
  @mixin container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  .container{ 
    @include container;
  }

  @mixin newsContent{
    background: #fff;
    width: 44%;
    height: 280px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    box-shadow:  4px 8px 20px rgba(0, 0, 0, 0.11), 0 6px 20px 0 rgba(0, 0, 0, 0.11);
    border: 4px solid transparent{
      bottom-left-radius:  10px;
      bottom-right-radius:  10px;
    }
  }


.desc p{
  padding: 20px 0 0 0;
  line-height: 25px;
  width: 90%;
}

.desc .img{
  align-self: flex-end;
  padding-top: 55px;
  padding-right: 30px;
}
  
// media query mobile device

@media (min-width: 375px) and (max-width: 768px) {

.container{
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 60%;
  .carts{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
     margin-top: 70px;
    .desc{
      background: #fff;
      margin: 0 20px 20px 0;
      height: 280px;
      width: 398px;
      padding: 25px;
      // @include newsContent;
      box-shadow:  4px 8px 20px rgba(0, 0, 0, 0.11), 0 6px 20px 0 rgba(0, 0, 0, 0.11);
      border: 4px solid transparent{
      bottom-left-radius:  10px;
      bottom-right-radius:  10px;
    }
  }
}
}

.description{
  width: 90%;
  line-height: 25px;
  text-align: center;
}

.text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: 30px;
}

.hero{
  font-size: 1.5em;
  margin-top: 250px;
}
h1{
  font-size: 1.5em;
  padding: 10px 0;
}

.desc .img{
  margin-left: 250px;
  padding-top: 55px;
  padding-right: 30px;
}

.attribution{
  margin-top: 850px;
}
}

// media query desktop device

  @media (min-width:769px) {
    
  .carts{
    height: 100vh;
    .desc{
      @include newsContent;
      margin: 15px 0;
     } 
    }
  
  .vertical-carts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .desc:nth-child(2){
      margin: 2% 0;
    }
  }
  .horizontal-carts{
    display: flex;
    justify-content: space-between;
    margin-top: -40%;
    margin-left: 2%;
    margin-right: 2%;
    .desc:nth-child(1){
      margin: -5% -20%;
    }
    .desc:nth-child(2){
      margin: -5% -20%;
    }
    
}
p{
  font-weight: 400;
  font-size: 16px;
  color: $grayishBlue;
}
.hero{
  font-size: 2.16em;

}
h1{
  font-size: 2.175em;
}


.description{
  text-align: center;
  font-size: 16px;
  padding: 20px;
  line-height: 25px;
  width: 65%;
}
.attribution{
  margin-top: 250px;
}
 }

 //end of desktop design
  
  
  .vertical-carts{
    .desc:nth-child(1){
      border-top-color: $Red;
    }
    .desc:nth-child(2){
      border-top-color: $Orange;
    }
  }
  
  .horizontal-carts{
    .desc:nth-child(1){
      border-top-color: $Cyan;
    }
    .desc:nth-child(2){
      border-top-color: $Blue;
    }
  }
  .text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .title{
  font-weight: 700;
  color: $veryDarkBlue;
  }
  .hero{
    font-weight: 200;
  }
  h1{
  color: $veryDarkBlue;
  font-weight: 700; 
}
P{
  color: $grayishBlue;
}